:root {
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Epilogue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.hero , .heroS {
    width: 320px;
    margin-right: auto;
}

.title {
    font-size: 68px;
    color: var(--Almost-Black);
    font-weight: 700;
}

.text {
    color: var(--Medium-Gray);
    line-height: 1.8;
}

@media (max-width:767px) {
    .content {
        flex-direction: row-reverse;
    }

    .icon {
        width: 120px;
    }
    .title{
        font-size: 62px;
    }
    .hero{
        display: none;
    }
}
@media (min-width:767px){
    .heroS{
        display: none;
    }
}